<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审批页面</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-theme.css">
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
<form action=""method="post" class="container" style="width: 40%;border: 1px solid black">
    <input type="text"value="{{ q.id }}"name="qid" style="display: none">
    <div class="col-md-offset-12"><a class="glyphicon glyphicon-remove" id="colses"></a></div>
    <h2>审批页面</h2>
    <hr>
    <div class="form-group">
        <strong>请假类型</strong>
        <select name="yid" id=""class="form-control"disabled="disabled">
            {% for y in y_all %}
                <option value="{{ y.id }}">{{ y.yname }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <strong>起始时间</strong>
        <input type="text"name="statime"class="form-control"value="{{ q.statime| date:'Y-m-d' }}"disabled="disabled">
    </div>
    <div class="form-group">
        <strong>结束时间</strong>
        <input type="text"name="endtime"class="form-control" value="{{ q.endtime| date:'Y-m-d' }}"disabled="disabled">
    </div>
    <div class="form-group">
        <strong>请假原因</strong>
        <textarea class="form-control" rows="5" name="title"disabled="disabled">{{ q.title }}
        </textarea>
    </div>
    <div class="form-group">
        <strong>审批人</strong>
        <input type="text"name="did"class="form-control" value="{{ request.session.name }}"disabled="disabled">
    </div>
    <div class="form-group">
        <strong>是否同意</strong>
        <input type="radio"name="yes_ok"value="同意"checked>同意
        <input type="radio"name="yes_ok"value="不同意">不同意
    </div>
    <div class="form-group">
        <strong>审批建议</strong>
        <textarea class="form-control" rows="5" name="say">
        </textarea>
    </div>
    <div class="col-md-offset-9">
        <a class="btn btn-default"id="close">关闭</a>
        <button class="btn btn-primary">提交</button>
    </div>
</form>
<script>
    {#关闭#}
    $(function () {
        $("#close,#colses").click(function () {
            location.href='/deptall/'
        })
    })
    {#添加#}
    $(function () {
        $("#send").click(function () {
            location.href='/deptall/'
        })
    })
</script>
</body>
</html>