<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap-theme.css">
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
<div class="container">
<form action=""METHOD="post" class="width:50px container"style="width: 50%;border: 1px solid pink">
    <h1>登陆</h1>
    <div class="form-group">
        用户名： <input type="text"name="user" class="form-control" id="u1">
    </div>
    <div class="form-group">
        密码： <input type="password" name="pwd" class="form-control">
    </div>
    <div class="form-group">
        员工<input checked type="radio"value="1"name="nn" class="radio-inline">
        老板<input type="radio"value="2"class="radio-inline"name="nn">
    </div>
        <button class="btn btn-primary">提交</button>
</form>
</div>
</body>
</html>