<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看请假页面</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-theme.css">
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
<form action="" method="post" class="container" style="width: 40%;border: 1px solid black">
    {% for s in s %}
        <input type="text" value="{{ s.qid.id }}" name="qid" style="display: none">
        <div class="col-md-offset-12"><a class="glyphicon glyphicon-remove" id="colses"></a></div>
        <h2>查看申请</h2>
        <hr>
        <div class="form-group">
            <strong>请假类型</strong>
            <select name="yid" id="" class="form-control" disabled="disabled">
                {% for y in y_all %}
                    <option value="{{ y.id }}">{{ y.yname }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <strong>起始时间</strong>
            <input type="text" name="statime" class="form-control" value="{{ s.qid.statime| date:'Y-m-d' }}"
                   disabled="disabled">
        </div>
        <div class="form-group">
            <strong>结束时间</strong>
            <input type="text" name="endtime" class="form-control" value="{{ s.qid.endtime| date:'Y-m-d' }}"
                   disabled="disabled">
        </div>
        <div class="form-group">
            <strong>请假原因</strong>
            <textarea class="form-control" rows="5" name="title" disabled="disabled">{{ s.qid.title }}
        </textarea>
        </div>
        <div class="form-group">
            <strong>审批人</strong>
            <input type="text" name="did" class="form-control" value="{{ s.qid.eid.did.dname }}" disabled="disabled">
        </div>
        <div class="form-group">
            <strong>是否同意</strong>
            {% if s.yes_ok == "同意" %}
                <input type="radio" name="yes_ok" value="同意" checked disabled="disabled">同意
                <input type="radio" name="yes_ok" value="不同意" disabled="disabled">不同意
            {% else %}
                <input type="radio" name="yes_ok" value="同意" disabled="disabled">同意
                <input type="radio" name="yes_ok" value="不同意" checked disabled="disabled">不同意
            {% endif %}

        </div>
        <div class="form-group">
            <strong>审批建议</strong>
            <textarea class="form-control" rows="5" name="say" disabled="disabled">{{ s.say }}
        </textarea>
        </div>
        <div class="col-md-offset-9">
            <a class="btn btn-default" id="close">关闭</a>
            <button class="btn btn-primary" disabled="disabled">提交</button>
        </div>
    {% endfor %}
</form>
<script>
    {% block js %}
    {#关闭#}
    $(function () {
        $("#close,#colses").click(function () {
            location.href = '/empall/'
        })
    })
    {#添加#}
    $(function () {
        $("#send").click(function () {
            location.href = '/empall/'
        })
    })
    {% endblock %}
</script>
</body>
</html>